body {
    background-color: rgb(17, 70, 71);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('./images/heic2007a.jpg');
    background-size: cover;
}
p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}