    :root {
        --primary: #CB6CE6;
        --accent: #F86EC3;
        --white: #FFFFFF;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    body {
        background-color: var(--white);
        color: #333;
    }

    header {
        /* background: linear-gradient(to right, var(--primary), var(--accent)); */
        color: var(--primary);
        padding: 1.5rem 2rem;
        
    }

    .hero-image {
        width: 20%;
        height: auto;
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../images/bracelets1.jpg");
        }

        

     .logo {
        max-width: 20%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

    .hero {
        padding: 3rem 2rem;
        background-color: var(--white);
        text-align: center;

    }

    .hero h2 {
        font-size: 2rem;
        color: var(--primary);
        margin-bottom: 1rem;
    }

    .hero p {
        font-size: 1.1rem;
        color: #555;
        margin-bottom: 2rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .order-btn {
        background-color: var(--accent);
        color: var(--white);
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        font-size: 2rem;
        text-decoration: none;
        transition: background 0.3s;
    }

    .order-btn:hover {
        background-color: var(--primary);
    }

    .gallery {
        padding: 4rem 2rem;
        background-color: #fdf6fc;
    }

    .gallery h3 {
        text-align: center;
        font-size: 1.8rem;
        color: var(--primary);
        margin-bottom: 2rem;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1.5rem;
    }

    .gallery-grid img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .gallery-grid img:hover {
        transform: scale(1.05);
    }

   

    footer {
        background-color: var(--primary);
        color: var(--white);
        text-align: center;
        padding: 1rem 2rem;
        font-size: 0.9rem;
    }