body{background-color:#114647;color:#fff;text-align:center;font-family:Arial,sans-serif;background-image:url(./images/heic2007a.jpg);background-size:cover}p{color:#fff;font-size:20px;margin-top:20px}
